# -------------------------------
import DefaultConfig as cnf

cnf.li.InstallTopDir="{{top_dir}}"
cnf.spark.doInstall=False
cnf.spark.node=False
cnf.spark.workstation=False

# -------------------------------