Listen {{web_ui_port}}

WSGIPythonHome /usr/lib/hue/build/env
WSGIPythonPath /usr/lib/hue/build/env/bin/python

<VirtualHost *:{{web_ui_port}}>
  ServerName <FQDN>

  ## WSGI settings
  WSGIDaemonProcess hue_httpd display-name=hue_httpd processes=8 threads=10 user=hue
  WSGIScriptAlias / /usr/lib/hue/desktop/core/src/desktop/wsgi.py
  <Directory /usr/lib/hue/desktop/core/src/desktop>
    Order deny,allow
    Allow from all
  </Directory>

  Alias "/static/" "/usr/lib/hue/desktop/core/static/"
  Alias "/about/static/" "/usr/lib/hue/apps/about/static/"
  Alias "/beeswax/static/" "/usr/lib/hue/apps/beeswax/static/"
  Alias "/filebrowser/static/" "/usr/lib/hue/apps/filebrowser/src/filebrowser/static/"
  Alias "/hcatalog/static/" "/usr/lib/hue/apps/hcatalog/src/hcatalog/static/"
  Alias "/help/static/" "/usr/lib/hue/apps/help/src/help/static/"
  Alias "/jobbrowser/static/" "/usr/lib/hue/apps/jobbrowser/static/"
  Alias "/jobsub/static/" "/usr/lib/hue/apps/jobsub/static/"
  Alias "/oozie/static/" "/usr/lib/hue/apps/oozie/static/"
  Alias "/pig/static/" "/usr/lib/hue/apps/pig/src/pig/static/"
  Alias "/shell/static/" "/usr/lib/hue/apps/shell/src/shell/static/"
  Alias "/useradmin/static/" "/usr/lib/hue/apps/useradmin/static/"

  <IfModule mod_expires.c>
    <FilesMatch "\.(jpg|gif|png|css|js)$">
      ExpiresActive on
      ExpiresDefault "access plus 1 day"
    </FilesMatch>
  </IfModule>

  ## SSL part
  # SSLEngine on
  # SSLOptions +StrictRequire

  # SSLProtocol -all +TLSv1 +SSLv3
  # SSLCipherSuite HIGH:MEDIUM:!aNULL:+SHA1:+MD5:+HIGH:+MEDIUM

  # SSLCertificateFile /etc/ssl/hue.crt
  # SSLCertificateKeyFile /etc/ssl/hue.key

  # SSLProxyEngine off

  ## Logging
  ErrorLog /var/log/httpd/error_hue_httpd_log
  CustomLog /var/log/httpd/access_hue_httpd_log combined
</VirtualHost>
