[Unit]
Description=LCM UI Ambari Kave
After=network.target postgresql.service mysql.service redis.service rabbitmq-server.service
Wants=postgresql.service mysql.service redis.service rabbitmq-server.service

[Service]
ExecStart=/root/lcm/lcm-complete-0.2.4-SNAPSHOT/bin/start-ui.sh
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target