# Authorization test html
# Avoid all browser/cgi/TWiki config issues by testing the basic httpd LDAP configuration here
# If the user can access /twiki/authconf/index.html this shows the system is working

BrowserMatchNoCase ^$ blockAccess

#### Change the path to match your local installation
<Directory "{{install_dir}}authtest">
	AllowOverride None
# NOTE: For Apache 2.4 and later use "Require all granted" instead of the next two lines:
	Order Allow,Deny
	Allow from all
	Deny from env=blockAccess

        {% if ldap_enabled %}

        AuthType Basic
        AuthName "LDAP Authentication"
        AuthBasicProvider ldap
        AuthzLDAPAuthoritative on
        AuthLDAPURL ldap://{{ldap_host}}:{{ldap_port}}/cn=users,cn=accounts,{{ldap_base}}?uid NONE
        AuthLDAPBindDN uid={{ldap_bind_user}},cn=sysaccounts,cn=etc,{{ldap_base}}
        AuthLDAPBindPassword {{ldap_bind_password}}
        AuthLDAPGroupAttribute member
        AuthLDAPGroupAttributeIsDN on
        #Require ldap-group cn={{ldap_group}},cn=groups,cn=accounts,{{ldap_base}}
        #Require ldap-attribute memberOf=cn={{ldap_group}},cn=groups,cn=accounts,{{ldap_base}}
	    require valid-user

        {% endif %}

	# File to return on access control error (e.g. wrong password)
	# ErrorDocument 401 /twiki/bin/view/TWiki/TWikiRegistration
	# Alternatively if your users are all known to be registered you may want
	# to redirect them to the ResetPassword page.
	# ErrorDocument 401 /twiki/bin/view/TWiki/ResetPassword


</Directory>
