{% if ldap_enabled %}
$TWiki::cfg{TemplateDir} = '{{install_dir}}templates';
$TWiki::cfg{DataDir} = '{{install_dir}}data';
$TWiki::cfg{LoginManager} = 'TWiki::LoginManager::ApacheLogin';
$TWiki::cfg{Register}{EnableNewUserRegistration} = 0;
$TWiki::cfg{AdminUserLogin} = '{{admin_user}}';

{% endif %}