config =
{"_id" : "{{setname}}", "members" : [
{% for host in mongo_hosts %}
	{"_id" : {{loop.index0}}, "host" : "{{host}}:{{tcp_port}}"}{% if not loop.last %},
	{% else %}]}{% endif %}
{% endfor %}

rs.initiate(config)

{% if set_with_arbiters %}
{% for host in mongo_arbiter_hosts %}
rs.addArb("{{host}}:{{tcp_port}}")
{% endfor %}
{% endif %}
exit
