config =
{"_id" : "{{setname}}", "members" : [
{% for host in mongo_hosts %}
	{"_id" : {{loop.index0}}, "host" : "{{host}}"}{% if not loop.last %},
	{% else %}]}{% endif %}
{% endfor %}

rs.initiate(config)

{% for host in mongo_arbiter_hosts %}
rs.addArb("{{host}}")
{% endfor %}
exit
